{{<layout.mustache}}
  {{$title}}Dummy{{/title}}
  {{$body}}
    <div class="jumbotron">
      <h1>
        <img src="{{ctx.base}}images/logo.png"/>
        <a href="https://github.com/dacr/finatra-dummy">Finatra dummy</a>
      </h1>

    <p align="right">
      release <b><span id="version">{{version}}</span></b>({{buildate}})
    </p>

    <script src="{{ctx.base}}js/dropzone.js"></script>
    <script>
      Dropzone.options.customDropzone = {
        paramName: "thefile", // The name that will be used to transfer the file
        maxFilesize: 500 // MB
      }
      //Dropzone.options.customDropzone = false;
      Dropzone.autoDiscover = true;
    </script>

    <form action="{{ctx.base}}file-upload"
          class="dropzone"
          id="custom-dropzone"
          style="background-color:grey;foreground:blue"
          >          
    </form>

    
  {{/body}}
{{/layout.mustache}}
